h1{
    font-family:   "Nova Square", system-ui; 

}
p{
    font-family:  "Nova Square", system-ui;
}
body{
    background-color:#ececec ;
}


nav{
    background-color: #ececec;
    width: 100%;
}
.lorem{
    
    text-align: center;
    font-size: 70px;
}


.logo-nav{
    width: 150px;
    height: 80px;
   
    background-position: center;
    
}
.link-nav{
    list-style: none;
    display: flex;
    justify-content: center;

   
}
ul > li {
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: black;
    margin: 0px 10px;
}
.text{
    color: black;
    justify-content: center;
}
.montagne{
    width: 100%;
    height: 50vh;
    margin-top: 370px;
    position: absolute;
}
.text-lorem{
    
    position: absolute;
    
}
header{
    
    background-image: linear-gradient( #ececec 20% , rgba( 255, 255, 255, 0 )) ,url(./mountains.png),url(./switzerland-862870_1920.jpg);
    width: 100%;
    position: relative;
    background-size: cover;
    display: flex;
    background-position: bottom;
    
    
    
}
h1{
    width: 100%;
    height: 700px;
    background-position: center;
    text-align: center;
    color: red;
    margin-top: 300PX;
    
    
}
.text-1{
     
   display: flex;
    text-align: center;
    justify-content: start;
    background-position: center;
    margin-left: 30%;
    margin-bottom: 100px;
  
}
.botton{
    display: flex;
    
}
.prova-colonne {
    border-bottom: 1px solid red ;
   
    
    
    
}
.box{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid red;
    position: relative;
    top: 5px;
    display: flex;
    justify-content: space-between;
    margin-left: 90px;

}


h2{
    display: flex;
    margin-left: 100px;
    color: red;
}
.img{
    width: 100%;
    height: 500px;
    background-color:  #ececec;
}
.section{
    background-color:#ececec ;
}
.colonna-testo{
    height: 600px;
    border-left: 3px solid red;
    margin-left: 30px;
}
.box-1{width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid red;
    position: relative;
    margin-left: -5px;
    margin-bottom: 20px;

}
.righe{
    background-color: white;
}
h4 {
    display: flex;
    text-align: left;
}
p{
    display: flex;
    text-align: left;
}
.img-3{
    display: flex;
    background-size: cover;
    margin-top: 200px;
    width: 100%;
}
.img-4{
    background-color: white;
}