h1{
    font-family:   "Nova Square", system-ui; 

}
p{
    font-family:  "Nova Square", system-ui;
}
body{
    background-color:#ececec ;
}


nav{
    background-color: #ececec;
    width: 100%;
}
.lorem{
    
    text-align: center;
    font-size: 70px;
}
.margintop{
    height: 100px;}


.logo-nav{
    width: 150px;
    height: 80px;
   
    background-position: center;
    
}
.link-nav{
    list-style: none;
    display: flex;
    justify-content: center;

   
}
ul > li {
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: black;
    margin: 0px 10px;
}
.text{
    color: black;
    justify-content: center;
}
.montagne{
    width: 100%;
    height: 50vh;
    margin-top: 370px;
    position: absolute;
}
.text-lorem{
    
    position: absolute;
    
}
header{
    
    background-image: linear-gradient( #ececec 20% , rgba( 255, 255, 255, 0 )) ,url(./mountains.png),url(./switzerland-862870_1920.jpg);
    width: 100%;
    position: relative;
    background-size: cover;
    display: flex;
    background-position: bottom;
    
    
    
}
h1{
    width: 100%;
    height: 700px;
    background-position: center;
    text-align: center;
    color: red;
    margin-top: 300PX;
    
    
}
.text-1{
     
   display: flex;
    text-align: center;
    justify-content: start;
    background-position: center;
    margin-left: 30%;
    margin-bottom: 100px;
  
}
.botton{
    display: flex;
    
}
.pseudo-1 {
    position: relative;
border-bottom: 3px solid darkred;
padding: 30px;
}
.pseudo-1::before{
    content: "";
    position: absolute;
    top: 130px;
    left: 100px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: white ;
    border: 2px solid darkred;
}
.p1{
    width: 50%;
}
.box{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid red;
    position: relative;
    top: 5px;
    display: flex;
    justify-content: space-between;
    margin-left: 90px;

}
.pseudo{
position: relative;
border-left: 3px solid darkred;
padding: 30px;
}
.pseudo::before{
    content: "";
    position: absolute;
    top: 25px;
    left: -10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: white ;
    border: 2px solid darkred;
}



h2{
    display: flex;
    margin-left: 100px;
    color: red;
}
.img{
    width: 100%;
    height: 300px;
    background-color:  #ececec;
}
.section{
    background-color:#ececec ;
}
.colonna-testo{
margin-left: 40px;
}
.box-1{width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid red;
    position: relative;
    margin-left: -5px;
    margin-bottom: 20px;

}
.righe{
    background-color: white;
}
h4 {
    display: flex;
    text-align: left;
}
p{
    display: flex;
    text-align: left;
}
.img-3{
    
    display: flex;
    background-size: cover;
    margin-top: 400px;
    width: 100%;
    
}
.img-4{
    background-color: white;
}
.img-5{
    
    background-image: url(./single.png);
    height: 50vh;
    background-repeat: no-repeat;
    

}
.box2{
    width: 100px;
    height:100px;
    display: flex;
    border-radius: 50%;
    border: 1px solid black;
    margin: 20px 0px;
    justify-content: space-between;
    

}

.cerchio{
    border-radius: 50%;
}
.cerchio1{
    background-image: url(./fog.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 30%;
}
.cerchio2{
    background-image: url(./fog.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 30%;
}
.cerchio3{
    background-image: url(./fog.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 30%;
}

.cerchio4{
    background-image: url(./fog.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 30%;
}

.box-3{
    width: 100%;
}
h3{
    color: red;
}
.icone{
    margin: 20px 0px;
}
.box4{
    width: 200px;
    height:200px;
    display: flex;
    border-radius: 50%;
    border: 1px solid black;
    margin: 20px 0px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    }
    .pini{
        width: 100%;
    }
.footer{

    display: flex;
   
    
    width: 100%;
   
    margin-top: 400px;
    background-repeat: no-repeat;
    justify-content: end;
}
    .footer-text{
    background-color: rgb(136, 10, 10);
    width: 100%;
    height:50vh;
    background-position: center;
    
}
.text3{
    display: flex;
    color: black;
    justify-content: start;
   font-size:40px;
   margin-left: 250px;

}













 @media screen  and ( max-width:700px)   {
    .footer{
        margin-top: 1000px;
    }
    
} 